@font-face {
  font-family: Limber;
  src: url(../Assets/Limber.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-weight: 200;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.odd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

button:hover {
  color: #00260C;
  background-color: transparent;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.menu-active {
  border-bottom: 6px solid white;
  padding-bottom: 17px;
}

.header {
  color: #fff;
  background: url("./../Assets/main.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 250px;
  padding-bottom: 350px;
}

.header-box__title {
  font-size: 25px;
}

.header-box__subtitle {
  font-family: "Limber";
  font-size: 90px;
}

.menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px;
}

.menu-top__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-top__phone-number {
  font-size: 15px;
  font-weight: 300;
  padding-right: 40px;
  padding-left: 10px;
  line-height: 2;
}

.menu-top__phone-icon {
  width: 30px;
  height: 30px;
}

.menu-top__facebook {
  width: 30px;
  height: 30px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00260C;
  padding: 20px;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  height: 30px;
}

.menu__list-position {
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.main-wrapper {
  background-color: #F9F9F9;
}

.calendar {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -82px;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  width: 20%;
  border: 1px solid #F4F4F4;
}

.date__check {
  font-size: 15px;
  text-align: center;
}

.date__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.date__box-number {
  font-size: 40px;
}

.date__box-in-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.date__box-in-arrow-icon {
  padding: 6px 15px;
}

.date__box-in-month {
  font-size: 12px;
  padding-left: 10px;
  padding-top: 10px;
}

.date__box-in-icon {
  padding-left: 15px;
}

.buttonbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.buttonbox button {
  background-color: #00260C;
  color: #fff;
  padding: 5px 70px;
  border: none;
  height: 50%;
  cursor: pointer;
}

.buttonbox button:hover {
  border: 1px solid #00260C;
  color: #00260C;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

.about__opening {
  width: 30%;
}

.about__opening-welcome {
  font-family: 'Limber';
  font-size: 90px;
  color: #D9DDDB;
}

.about__opening-enjoy {
  font-size: 30px;
  font-weight: 700;
  color: #00260C;
  line-height: 45px;
  margin-top: -10px;
}

.about__welcome-text {
  width: 70%;
  font-size: 16px;
  line-height: 35px;
  padding-top: 30px;
}

.article {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
}

.article-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-single__img {
  width: 50%;
  height: 50%;
}

.article-single__text {
  width: 50%;
  height: 50%;
  padding: 40px 0;
}

.article-single__text-title {
  font-size: 30px;
  padding-left: 40px;
  padding-top: 10px;
}

.article-single__text-content {
  padding: 40px;
  line-height: 35px;
}

.article-single__text-button {
  background-color: #00260C;
  border: 1px solid #00260C;
  color: #fff;
  padding: 15px 40px;
  margin-left: 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.video {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}

.connect {
  font-size: 25px;
}

.nature {
  font-family: "Limber";
  font-size: 90px;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 700px;
  margin-top: -7px;
  overflow: hidden;
}

.green {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: linear-gradient(45deg, #102417, #142C1D, #102417);
  color: white;
}

.green-title {
  padding-top: 100px;
  font-size: 30px;
}

.green-text {
  padding-top: 60px;
  font-size: 16px;
  line-height: 40px;
}

.slider-container {
  position: absolute;
  width: 70%;
  bottom: 0;
  right: 0;
}

.slide {
  text-align: center;
}

.slide img {
  height: 300px;
  width: 300px;
}

.slider-wrapper .tns-controls button {
  text-indent: -9999rem;
  border: none;
  background-color: transparent;
  background-image: url(./../Assets/arrow_r.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 10;
}

.slider-wrapper .tns-controls button:focus {
  outline: none;
}

.tns-controls button[data-controls=prev] {
  left: -20%;
}

.tns-controls button[data-controls=next] {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  left: -14%;
}

.contact {
  background-color: #F9F9F9;
}

.contact-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-content__title {
  font-size: 30px;
  font-family: 'Limber';
  font-size: 80px;
}

.contact-content__text {
  padding-top: 20px;
}

.contact-content__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.contact-content__details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 70px;
}

.contact-content__details-container-icon {
  padding-right: 5px;
}

.map {
  overflow: hidden;
  margin-top: 60px;
}

.footer {
  background-color: #00260C;
  height: 100px;
  width: 100%;
  color: white;
}

.footer__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cookies {
  padding-left: 40px;
}

.header-about {
  color: #fff;
  background: url("../Assets/aboutmain.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.header-about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  padding-bottom: 350px;
}

.header-about__title {
  font-size: 25px;
}

.header-about__subtitle {
  font-family: "Limber";
  font-size: 90px;
}

.paragraph-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  width: 100%;
}

.paragraph-wrapper .paragraph-opening {
  width: 35%;
  padding-top: 35px;
}

.paragraph-wrapper .paragraph-opening__title-top {
  font-family: 'Limber';
  font-size: 80px;
  color: #D9DDDB;
}

.paragraph-wrapper .paragraph-opening__title-bottom {
  font-size: 30px;
  font-weight: 700;
  color: #00260C;
  line-height: 45px;
  margin-top: -10px;
}

.paragraph-wrapper .paragraph-text {
  width: 65%;
  padding-top: 40px;
  line-height: 40px;
}

.middle-img {
  height: 500px;
  margin-top: 60px;
  background: url(../Assets/aboutmiddle.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.features-wrapper {
  width: 100%;
  height: 800px;
  background-color: #F9F9F9;
  padding-bottom: 40px;
}

.features-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 30px;
}

.features-content .features_img {
  width: 50%;
  height: 50%;
}

.features-content .features-main {
  width: 50%;
  height: 50%;
  padding: 40px;
}

.features-content .features-main__title {
  font-size: 30px;
}

.features-content .features-main__copy {
  line-height: 35px;
  padding: 40px 0;
}

.features-content .features-main__button {
  background-color: #00260C;
  border: 1px solid #00260C;
  color: #fff;
  padding: 15px 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features-slider-wrapper {
  position: relative;
}

.features-slider-wrapper .tns-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -15%;
  left: 48.2%;
}

.features-slider-wrapper .tns-nav button {
  background-color: #B9C4BD;
  height: 0.6rem;
  width: 0.6rem;
  margin: 5px;
  border: none;
  border-radius: 50%;
}

.features-slider-wrapper .tns-nav button:focus {
  outline: none;
}

.features-slider-wrapper .tns-nav .tns-nav-active {
  background-color: #00260C;
}

.features-slider-wrapper .tns-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -15%;
  left: 48.2%;
}

.features-slider-wrapper .tns-controls:focus {
  outline: none;
}

.features-slider-wrapper .tns-controls button {
  border-radius: 50%;
  text-indent: -9999rem;
  width: 0.8rem;
  height: 0.8rem;
  margin: 5px;
}

.features-slider-wrapper .tns-controls button:focus {
  outline: none;
}

.features-slider-wrapper .tns-controls button[data-controls=prev] {
  border: 1px solid #B9C4BD;
  background-color: #B9C4BD;
}

.features-slider-wrapper .tns-controls button[data-controls=next] {
  border: 1px solid #00260C;
  background-color: #00260C;
  -webkit-transform: none;
          transform: none;
}

.features-slider-wrapper .features-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 260px;
}

.features-slider-wrapper .features-slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  margin: 10px;
}

.features-slider-wrapper .features-slider .slide p {
  padding-top: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.features-slider-wrapper .features-slider .slide img {
  width: 40%;
  height: 40%;
}

.staff-wrapper {
  background-color: white;
  padding-bottom: 60px;
}

.staff-wrapper .staff-title {
  font-size: 70px;
  font-family: "Limber";
  color: #00260C;
  text-align: center;
  padding: 60px;
}

.staff-wrapper .staff-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.staff-wrapper .staff-pictures .staff-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staff-wrapper .staff-pictures .staff-single__name {
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  letter-spacing: 0.5px;
}

.staff-wrapper .staff-pictures .staff-single__title {
  color: #6D7278;
  font-weight: 200;
}

.testimonials-wrapper {
  background: url(../Assets/testimonials.jpg) no-repeat center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.testimonials-wrapper .testimonials {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.testimonials-wrapper .testimonials .tns-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -15%;
  left: 48.2%;
}

.testimonials-wrapper .testimonials .tns-nav button {
  background-color: #B9C4BD;
  height: 0.6rem;
  width: 0.6rem;
  margin: 5px;
  border: none;
  border-radius: 50%;
}

.testimonials-wrapper .testimonials .tns-nav button:focus {
  outline: none;
}

.testimonials-wrapper .testimonials .tns-nav .tns-nav-active {
  border: 1px solid #B9C4BD;
  background-color: transparent;
}

.testimonials-wrapper .testimonials .testimonials-title {
  color: white;
  font-size: 70px;
  font-family: "Limber";
  text-align: center;
  padding: 100px 0 100px 0;
}

.testimonials-wrapper .testimonials .testimonials-slider {
  color: white;
}

.testimonials-wrapper .testimonials .testimonials-slider .slide__label {
  padding-top: 50px;
  font-weight: 400;
}

.testimonials-wrapper .testimonials .testimonials-slider .slide__text {
  line-height: 40px;
}

.header-rooms {
  color: #fff;
  background: url("../Assets/ourrooms.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.header-rooms__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  padding-bottom: 350px;
}

.header-rooms__title {
  font-size: 25px;
}

.header-rooms__subtitle {
  font-family: "Limber";
  font-size: 90px;
}

.rooms-wrapper {
  background-color: #F9F9F9;
  padding-bottom: 40px;
}

.rooms-wrapper .rooms-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.rooms-wrapper .rooms-navi__p {
  padding-left: 10px;
}

.rooms-wrapper .rooms-navi__a {
  text-decoration: none;
  color: black;
}

.rooms-wrapper .rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rooms-wrapper .rooms .room-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  background-color: white;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.rooms-wrapper .rooms .room-single__main {
  padding: 40px;
}

.rooms-wrapper .rooms .room-single__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
  font-size: 25px;
}

.rooms-wrapper .rooms .room-single__img {
  width: 100%;
  height: auto;
}

.rooms-wrapper .rooms .room-single__icon {
  width: 40px;
  height: 40px;
  padding: 50px 20px 0 0;
}

.rooms-wrapper .rooms .room-single__button-wrapper {
  width: 100%;
  text-align: right;
}

.rooms-wrapper .rooms .room-single__button {
  background-color: #00260C;
  border: 1px solid #00260C;
  color: #fff;
  padding: 15px 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
  font-size: 14px;
  text-decoration: none;
}

.rooms-wrapper .rooms .room-single__button:hover {
  color: #00260C;
  background-color: transparent;
}

.white-background {
  background-color: white;
}

.header-restaurant {
  color: #fff;
  background: url("../Assets/restaurant_h.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.header-restaurant__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  padding-bottom: 350px;
}

.header-restaurant__title {
  font-size: 25px;
}

.header-restaurant__subtitle {
  font-family: "Limber";
  font-size: 90px;
}

.restaurant-wrapper {
  padding-bottom: 60px;
}

.restaurant-wrapper .restaurant-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.restaurant-wrapper .restaurant-navi__p {
  padding-left: 10px;
}

.restaurant-wrapper .restaurant-navi__a {
  text-decoration: none;
  color: black;
}

.restaurant-wrapper .restaurant-menu {
  background-color: white;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.restaurant-wrapper .restaurant-menu .menu-title {
  font-family: "Limber";
  font-size: 70px;
  color: #00260C;
  text-align: center;
  padding: 20px 0;
}

.restaurant-wrapper .restaurant-menu .menu-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}

.restaurant-wrapper .restaurant-menu .menu-category .menu-single-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  margin-bottom: 40px;
  padding-right: 20px;
}

.restaurant-wrapper .restaurant-menu .menu-category .menu-single-category__title {
  font-size: 25px;
  padding: 20px 0;
  font-weight: 300;
}

.restaurant-wrapper .restaurant-menu .menu-category .menu-single-category__underline {
  width: 100%;
  border-bottom: #B9C4BD dotted 1px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.restaurant-wrapper .restaurant-menu .menu-category .menu-single-category__name {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 10px;
}

.restaurant-wrapper .restaurant-menu .menu-category .menu-single-category__price {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 10px;
}

.restaurant-wrapper .restaurant-menu .menu-category .menu-single-category__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.request-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../Assets/request.jpg);
  margin-top: 40px;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.request-wrapper .request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 70%;
}

.request-wrapper .request__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.request-wrapper .request button {
  background-color: #00260C;
  border: 1px solid #00260C;
  color: #fff;
  padding: 15px 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
  margin-top: 50px;
}

.request-wrapper .request button:hover {
  color: #00260C;
  background-color: transparent;
}

.request-wrapper .request h1 {
  font-family: "Limber";
  font-size: 70px;
  color: #00260C;
  padding-bottom: 20px;
}

.request-wrapper .request h2 {
  color: #00260C;
  margin-bottom: -20px;
  margin-top: 50px;
  font-size: 20px;
}

.request-wrapper .request .request-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.request-wrapper .request .request-form__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  overflow: hidden;
}

.request-wrapper .request .request-form__name {
  width: 46%;
}

.request-wrapper .request .request-form__name input {
  width: 97%;
  padding: 15px;
}

.request-wrapper .request .request-form__email {
  width: 46%;
}

.request-wrapper .request .request-form__email input {
  width: 97%;
  padding: 15px;
}

.request-wrapper .request .request-form__message {
  width: 100%;
  overflow: hidden;
}

.request-wrapper .request .request-form__message input {
  width: 100%;
  padding: 15px 0 100px 15px;
}

.request-wrapper .request .request-form input {
  background-color: #F1F3F2;
  border: none;
}

.header-rooms {
  color: #fff;
  background: url("../Assets/ourrooms.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.header-rooms__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  padding-bottom: 350px;
}

.header-rooms__title {
  font-size: 25px;
}

.header-rooms__subtitle {
  font-family: "Limber";
  font-size: 90px;
}

.booking-wrapper {
  background-color: #F9F9F9;
}

.booking-wrapper .booking-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.booking-wrapper .booking-navi__a {
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
  background-color: white;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.booking .booking-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking .booking-main .booking-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  padding: 20px 40px 40px 40px;
  line-height: 40px;
}

.booking .booking-main .booking-text__header {
  padding: 50px 0 20px 0;
  font-weight: 200;
  font-size: 30px;
}

.booking .booking-main .booking-text__paragraph {
  font-size: 14px;
}

.booking .booking-main .booking-text__icon {
  width: 40px;
  height: 40px;
  padding: 20px 20px 0 0;
}

.booking .booking-main .booking-calendar {
  background-image: url("./../Assets/booking.jpg");
  width: 30%;
  color: white;
  padding: 70px 40px 40px 40px;
}

.booking .booking-main .booking-calendar__title {
  font-size: 14px;
  padding: 40px 0 10px 0;
}

.booking .booking-main .booking-calendar input {
  width: 90%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.booking .booking-main .booking-calendar ::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

.booking .booking-main .booking-calendar :-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

.booking .booking-main .booking-calendar ::-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

.booking .booking-main .booking-calendar ::placeholder {
  color: white;
  opacity: 0.7;
}

.booking .booking-main .booking-calendar__price {
  padding-top: 50px;
}

.booking .booking-main .booking-calendar__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking .booking-main .booking-calendar__button {
  background-color: white;
  border: 1px solid white;
  color: #00260C;
  padding: 15px 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
  margin-top: 100px;
}

.booking .booking-main .booking-calendar__button:hover {
  color: white;
  background-color: transparent;
}

.white-background {
  background-color: white;
}

.header-outdoor {
  color: #fff;
  background: url("../Assets/outdoor2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.header-outdoor__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  padding-bottom: 350px;
}

.header-outdoor__title {
  font-size: 25px;
}

.header-outdoor__subtitle {
  font-family: "Limber";
  font-size: 90px;
}

.outdoor-wrapper {
  background-color: #F9F9F9;
}

.outdoor-wrapper .features-slider-wrapper .features-slider .slide {
  margin: 0;
}

.outdoor-wrapper .outdoor-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

.outdoor-wrapper .outdoor-navi__a {
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.features-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 260px;
}

.features-slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  width: 24%;
}

.adventure-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../Assets/adventure.jpg);
  margin-top: 40px;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.adventure-wrapper .adventure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 70%;
}

.adventure-wrapper .adventure__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adventure-wrapper .adventure button {
  background-color: #00260C;
  border: 1px solid #00260C;
  color: #fff;
  padding: 15px 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
  margin-top: 50px;
}

.adventure-wrapper .adventure button:hover {
  color: #00260C;
  background-color: transparent;
}

.adventure-wrapper .adventure h1 {
  font-family: "Limber";
  font-size: 70px;
  color: #00260C;
  padding-bottom: 20px;
}

.adventure-wrapper .adventure h2 {
  color: #00260C;
  margin-bottom: -20px;
  margin-top: 50px;
  font-size: 20px;
}

.adventure-wrapper .adventure .adventure-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.adventure-wrapper .adventure .adventure-form__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  overflow: hidden;
}

.adventure-wrapper .adventure .adventure-form__name {
  width: 46%;
}

.adventure-wrapper .adventure .adventure-form__name input {
  width: 97%;
  padding: 15px;
}

.adventure-wrapper .adventure .adventure-form__email {
  width: 46%;
}

.adventure-wrapper .adventure .adventure-form__email input {
  width: 97%;
  padding: 15px;
}

.adventure-wrapper .adventure .adventure-form__message {
  width: 100%;
  overflow: hidden;
}

.adventure-wrapper .adventure .adventure-form__message input {
  width: 100%;
  padding: 15px 0 100px 15px;
}

.adventure-wrapper .adventure .adventure-form input {
  background-color: #F1F3F2;
  border: none;
}
/*# sourceMappingURL=index.css.map */