.header-about {
    // background-color: #00260C;
    color: $white;
    background: url("../Assets/aboutmain.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;

    @include breakpoint(mobileonly) {
        height: 700px;
    }

    &-container {
        display: flex;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        padding-bottom: 350px;


        @include breakpoint(mobileonly) {
            padding-top: 166px;
        }


    }

    &__title {
        font-size: 25px;
    }

    &__subtitle {
        font-family: "Limber";
        font-size: 90px;
    }
}


.paragraph-wrapper {
    padding-top: 40px;
    width: 100%;

    &-container {
        display: flex;

        @include breakpoint(bigTablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    .paragraph-opening {
        width: 35%;
        padding-top: 35px;
        padding-left: 20px;

        @include breakpoint(bigTablet) {
            width: 90%;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
        }

        &__title-top {
            font-family: 'Limber';
            font-size: 80px;
            color: #D9DDDB;

            @include breakpoint(bigTablet) {
                font-size: 60px;
            }
        }

        &__title-bottom {
            font-size: 30px;
            font-weight: 700;
            color: $main-color;
            line-height: 45px;
            margin-top: -10px;


            @include breakpoint(bigTablet) {}

        }
    }

    .paragraph-text {
        width: 65%;
        padding-top: 40px;
        padding-right: 20px;
        line-height: 40px;

        @include breakpoint(bigTablet) {
            width: 90%;
            padding-left: 5%;
            padding-right: 5%;
        }
    }

}

.middle-img {
    height: 500px;
    // width: 100%;
    margin-top: 60px;
    background: url(../Assets/aboutmiddle.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.features-wrapper {
    width: 100%;
    // height: 800px;
    background-color: $grey_background;
    padding-bottom: 40px;

}

.features-content {
    display: flex;
    background-color: $white;
    box-shadow: 0 2px 20px 0 rgba($color: #000000, $alpha: 0.10);
    margin-top: 50px;
    margin-bottom: 30px;

    @include breakpoint(bigTablet) {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    @include breakpoint(bigMobile) {
        flex-direction: column;
    }

    .features_img {
        height: 480px;
        overflow: hidden;

        @include breakpoint(mobileonly) {

            height: auto;

        }

        img {
            height: 100%;

            @include breakpoint(mobileonly) {
                width: 100%;
                height: auto;

            }
        }

    }

    .features-main {
        width: 50%;
        padding: 40px;

        @include breakpoint(bigMobile) {
            width: 90%;
            padding-right: 5%;
        }


        &__title {
            font-size: 30px;

        }

        &__copy {
            line-height: 35px;
            padding: 40px 0;

            @include breakpoint(bigMobile) {
                width: 90%;
                padding-right: 5%;
            }
        }

        &__button {
            text-decoration: none;
            font-size: 15px;
            background-color: $main-color;
            border: 1px solid $main-color;
            color: $white;
            padding: 15px 40px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                border: 1px solid $main_color;
                color: $main_color;
                background-color: transparent;
            }


        }
    }
}

.features-slider-wrapper {
    position: relative;

    @include breakpoint(bigTablet) {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .tns-nav {
        display: flex;
        position: absolute;
        bottom: -10%;
        left: 48.2%;

        @include breakpoint(newMobile) {
            display: none;
        }

        button {
            background-color: #B9C4BD;
            height: 0.6rem;
            width: 0.6rem;
            margin: 5px;
            border: none;
            border-radius: 50%;

            &:focus {
                outline: none;
            }

        }



        .tns-nav-active {
            background-color: $main-color;

        }
    }

    .tns-controls {
        display: flex;
        position: absolute;
        bottom: -15%;
        left: 48.2%;

        &:focus {
            outline: none;
        }


        button {

            border-radius: 50%;
            text-indent: -9999rem;
            width: 0.8rem;
            height: 0.8rem;
            margin: 5px;

            &:focus {
                outline: none;
            }

        }
    }

    .tns-controls button[data-controls=prev] {
        border: 1px solid #B9C4BD;
        background-color: #B9C4BD;
    }

    .tns-controls button[data-controls=next] {
        border: 1px solid $main-color;
        background-color: $main-color;
        transform: none;
    }

    .features-slider {
        display: flex;
        justify-content: space-between;
        height: 260px;


        @include breakpoint(newMobile) {
            height: 180px;
        }

        .slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 10px 0 rgba($color: #000000, $alpha: 0.08);
            background-color: white;
            margin: 10px !important;

            @include breakpoint(newMobile) {
                height: 150px;
            }

            p {
                padding-top: 40px;
                font-weight: 400;
                text-transform: uppercase;

                @include breakpoint(newMobile) {
                    padding-top: 30px;
                }
            }

            img {
                width: 40%;
                height: 40%;

                @include breakpoint(newMobile) {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }
}

.staff-wrapper {
    background-color: white;
    padding-bottom: 60px;


    @include breakpoint(phablet) {
        // margin-top: 400px;
    }

    @include breakpoint(mobileonly) {
        // margin-top: 125px;
    }


    .staff-title {
        font-size: 70px;
        font-family: "Limber";
        color: $main-color;
        text-align: center;
        padding: 60px;

        @include breakpoint(mobileonly) {
            padding-top: 20px;
        }
    }

    .staff-pictures {
        display: flex;
        justify-content: space-between;

        @include breakpoint(bigTablet) {
            flex-wrap: wrap;
            justify-content: center;

        }


        .staff-single {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                @include breakpoint(bigTablet) {
                    width: 70%;
                    height: auto;
                }

                @include breakpoint(tablet) {
                    padding: 0 40px;

                }


                @include breakpoint(bigMobile) {
                    padding: 0 10px;

                }
            }

            &__name {
                font-weight: 400;
                text-transform: uppercase;
                padding: 20px 0 10px 0;
                letter-spacing: 0.5px;
            }

            &__title {
                color: #6D7278;
                font-weight: 200;
            }
        }
    }
}

.testimonials-wrapper {
    background: url(../Assets/testimonials.jpg) no-repeat center;
    background-size: cover;
    height: 700px;
    width: 100vw;

    .testimonials {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        width: 100%;

        @include breakpoint(bigTablet) {
            padding-right: 5%;
            padding-left: 5%;
            width: 80%;

        }



        .tns-nav {
            display: flex;
            position: absolute;
            bottom: -15%;
            left: 48.2%;

            button {
                background-color: #B9C4BD;
                height: 0.6rem;
                width: 0.6rem;
                margin: 5px;
                border: none;
                border-radius: 50%;

                &:focus {
                    outline: none;
                }

            }



            .tns-nav-active {
                border: 1px solid #B9C4BD;
                background-color: transparent;

            }
        }

        .testimonials-title {
            color: white;
            font-size: 70px;
            font-family: "Limber";
            text-align: center;
            padding: 100px 0 100px 0;

        }


        .testimonials-slider {
            color: white;

            .slide {

                &__label {
                    padding-top: 50px;
                    font-weight: 400;
                }


                &__text {
                    line-height: 40px;
                }

            }
        }


    }
}