.header-rooms {

    color: $white;
    background: url("../Assets/ourrooms.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        padding-bottom: 350px;
    }

    &__title {
        font-size: 25px;
    }

    &__subtitle {
        font-family: "Limber";
        font-size: 90px;
    }
}


.booking-wrapper {
    background-color: $grey_background;
    padding-bottom: 20px;

    .booking-navi {
        padding: 40px;

        &-container {
            display: flex;

        }


        &__a {
            text-decoration: none;
            color: black;
            padding-right: 10px
        }
    }
}

.booking {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba($color: #000000, $alpha: 0.10);



    .booking-main {
        display: flex;
        // height: 600px;



        .booking-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
            padding: 20px 40px 40px 40px;
            line-height: 40px;

            &__header {
                padding: 50px 0 20px 0;
                font-weight: 200;
                font-size: 30px;

            }

            &__paragraph {
                font-size: 14px;
            }



            &__icon {
                width: 40px;
                height: 40px;
                padding: 20px 20px 0 0;
            }
        }

        .booking-calendar {
            background-image: url("./../Assets/booking.jpg");
            width: 30%;
            color: white;
            padding: 70px 40px 40px 40px;

            &__title {
                font-size: 14px;
                padding: 40px 0 10px 0;
            }



            input {
                width: 90%;
                padding: 10px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
            }

            ::placeholder {
                color: white;
                opacity: 0.7;
            }

            &__price {
                padding-top: 50px;
            }

            &__button-wrapper {
                display: flex;
                justify-content: center;
            }

            &__button {
                background-color: white;
                border: 1px solid white;
                color: $main-color;
                padding: 15px 40px;
                cursor: pointer;
                transition: 0.3s;
                text-align: right;
                margin-top: 100px;

                &:hover {
                    color: white;
                    background-color: transparent;
                }

            }




        }
    }
}











.white-background {
    background-color: white;
}