.calendar {
    background-color: $white;
    display: flex;
    margin-top: -82px;
    box-shadow: 0 2px 20px 0 rgba($color: #000000, $alpha: 0.10);

}

.date {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 20%;
    border: 1px solid #F4F4F4;

    &__check {
        font-size: 15px;
        text-align: center;
    }


    &__box {
        display: flex;
        justify-content: center;
        padding: 10px;

        &-number {
            font-size: 40px;


        }



        &-in {

            &-arrow {
                display: flex;
                flex-direction: column;
                justify-content: center;


                &-icon {
                    padding: 6px 15px;
                }

            }

            &-month {
                font-size: 12px;
                padding-left: 10px;
                padding-top: 10px;
            }

            &-icon {
                padding-left: 15px;
            }
        }
    }
}


.buttonbox {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    width: 40%;
    // padding: 30px;

    & button {
        background-color: $main_color;
        color: $white;
        padding: 5px 70px;
        border: none;
        height: 50%;
        cursor: pointer;

        &:hover {
            border: 1px solid $main_color;
            color: $main_color;
            background-color: transparent;
            transition: 0.3s;
        }

    }

}