.contact {
    background-color: $grey_background;
}

.contact-content {
    padding-top: 100px;


    &__title {
        font-size: 30px
    }

    &__text {
        padding-top: 20px;
    }

    &__details {
        display: flex;
        padding-top: 60px;


        &-container {
            display: flex;
            padding-right: 70px;

            &-icon {
                padding-right: 5px;
            }
        }
    }
}
.map {
    overflow: hidden;
    margin-top: 60px;
}