.footer {
    background-color: $main_color;
    height: 100px;
    width: 100%;
    color: white;


    &__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 30px 20px 0 20px;

        &-text {
            display: flex;


        }

    }
}

.cookies {
    padding-left: 40px;
}