.header {
    // background-color: #00260C;
    color: $white;
    background: url("./../Assets/main.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 250px;
        padding-bottom: 350px;

        &__title {
            font-size: 25px;
        }

        &__subtitle {
            font-family: "Limber";
            font-size: 90px;
        }
    }
}

.menu-top {
    display: flex;
    justify-content: flex-end;
    padding: 30px;

    &__phone {
        display: flex;

        &-number {
            font-size: 15px;
            font-weight: 300;
            padding-right: 40px;
            padding-left: 10px;
            line-height: 2
        }

        &-icon {
            width: 30px;
            height: 30px;
        }
    }

    &__facebook {
        width: 30px;
        height: 30px;
    }
}


.menu {
    display: flex;
    background-color: $main_color;
    padding: 20px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 30px;
    }

    &__list {
        &-position {
            text-decoration: none;
            color: $white;
            padding-left: 40px;
        }
    }
}

.main-wrapper {
    // height: 1000vh;
    background-color: $grey_background;

}