.header-restaurant {

    color: $white;
    background: url("../Assets/restaurant_h.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;

    @include breakpoint(mobileonly) {
        height: 700px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        padding-bottom: 350px;

        @include breakpoint(mobileonly) {
            padding-top: 166px;
        }
    }

    &__title {
        font-size: 25px;
    }

    &__subtitle {
        font-family: "Limber";
        font-size: 90px;
    }
}

.restaurant-wrapper {

    padding-bottom: 60px;


    .restaurant-navi {
        padding: 40px;

        &-container {
            display: flex;
        }

        &__p {
            padding-left: 10px
        }

        &__a {
            text-decoration: none;
            color: black;
        }
    }

    .restaurant-menu {
        background-color: white;
        box-shadow: 0 2px 20px 0 rgba($color: #000000, $alpha: 0.10);


        @include breakpoint(bigTablet) {
            padding-right: 5%;
            padding-left: 5%;
            width: 80%;

        }

        .menu-title {
            font-family: "Limber";
            font-size: 70px;
            color: $main-color;
            text-align: center;
            padding: 20px 0;

            @include breakpoint(bigTablet) {
                padding-top: 40px;
                padding-bottom: 0;

            }





        }

        .menu-category {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 50px;

            @include breakpoint(bigTablet) {
                padding: 30px;


            }



            .menu-single-category {
                display: flex;
                flex-direction: column;
                width: 45%;
                margin-bottom: 40px;
                padding-right: 20px;

                @include breakpoint(bigTablet) {
                    width: 96%;


                }

                &__title {
                    font-size: 25px;
                    padding: 20px 0;
                    font-weight: 300;
                }

                &__underline {
                    width: 100%;
                    border-bottom: #B9C4BD dotted 1px;
                    flex-shrink: 1;
                }

                &__name {
                    flex-shrink: 0;
                    padding-right: 10px;
                }

                &__price {
                    flex-shrink: 0;
                    padding-left: 10px;

                }


                &__position {
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 0;


                }
            }
        }


    }
}

.request-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Assets/request.jpg);
    margin-top: 40px;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;

    .request {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 70%;

        @include breakpoint(bigTablet) {
            margin-left: 5%;
            margin-right: 5%;

        }

        @include breakpoint(bigMobile) {
            height: 80%;


        }


        &__button-wrapper {
            display: flex;
            justify-content: center;
        }



        button {
            background-color: $main-color;
            border: 1px solid $main-color;
            color: $white;
            padding: 15px 40px;
            cursor: pointer;
            transition: 0.3s;
            text-align: right;
            margin-top: 50px;

            &:hover {
                color: $main_color;
                background-color: transparent;
            }
        }


        h1 {

            font-family: "Limber";
            font-size: 70px;
            color: $main-color;
            padding-bottom: 20px;
        }

        h2 {
            color: $main-color;
            margin-bottom: -20px;
            margin-top: 50px;
            font-size: 20px;
        }

        .request-form {
            display: flex;
            flex-direction: column;
            width: 50%;

            &__personal {
                display: flex;
                justify-content: space-between;
                padding: 20px 0;
                overflow: hidden;

                @include breakpoint(bigMobile) {
                    flex-direction: column;

                }
            }

            &__name {
                width: 46%;

                @include breakpoint(bigMobile) {
                    width: 100%;
                    margin-bottom: 20px;

                }

                input {
                    width: 97%;
                    padding: 15px;
                }
            }

            &__email {
                width: 46%;


                @include breakpoint(bigMobile) {
                    width: 100%;

                }

                input {
                    width: 97%;
                    padding: 15px;
                }
            }

            &__message {
                width: 100%;
                overflow: hidden;

                input {
                    width: 100%;
                    padding: 15px 0 100px 15px;
                }
            }

            input {
                background-color: #F1F3F2;
                border: none;
            }
        }
    }
}